*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #020025;
}

html{
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{
    flex: 1;
}

header{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.currency{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    border: none;
    box-shadow: none;
    border: none;
}

.currency input{
    box-shadow: 0;
    color: white;
    border: none;
    width: 20%;
    box-shadow: none;
}


.currency label:has(input:checked){
    color: #1fbcff;
}

nav{
    width: 80%;
    background-color: #020025;
    box-shadow: 0px 0px 10px #1fbcff;
    border-radius: 35px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}


nav a{
    max-width: 25%;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: larger;
}

nav a img{
    max-width: 100%;
    max-height: 45px;
}

.logo{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.logo h2{
    margin-left: 20px;
}

.icons{
    width: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer{
    margin: 1% 0;
    text-align: center;
    font-size: smaller;
    color: white;
}