body {
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.hero {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.heroText{
    width: 50%;
    text-align: right;
}

.heroText h1 {
    font-size: 3rem;
}

.heroText p{
    margin-top: 1%;
}

.heroText span {
    color: #1fbcff;
}

.heroButtons {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.primaryBtn,
.secondaryBtn {
    padding: 12px 30px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.primaryBtn {
    background-color: #1fbcff;
    color: #020025;
    border: none;
}

.secondaryBtn {
    background: none;
    border: 2px solid #1fbcff;
    color: #1fbcff;
}

.heroImage img {
    width: 100%;
    max-width: 500px;
    border-left: 1px solid #1fbcff;
    padding-left: 12%;
    border-radius: 2px;
}

.categories {
    width: 85%;
    margin-top: 1%;
}

.categories h2{
    width: 100%;
    text-align: center;
}

.categoryGrid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 4%;
}

.categoryCard {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 20px;
    background-color: #020025;
    box-shadow: 0 0 10px rgba(31,188,255,0.3);
    text-decoration: none;
    color: #1fbcff;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categoryCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(31,188,255,0.6);
}

.categoryCard h4{
    border-bottom: 1px solid #1fbcff;
    padding-bottom: 4%;
    width: 50%;
}

.categoryCard img{
    width: 100%;
    margin-bottom: 3%;
    border-radius: 25px;
}


.popular {
    width: 85%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.popular h2{
    width: 30%;
    text-align: center;
    margin-bottom: 1%;
    border-bottom: 1px solid #1fbcff;
    padding-bottom: 1%;
}

.productGrid {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2%;
}

.productCard {
    background-color: #020025;
    width: 20%;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(31,188,255,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.productCard:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(31,188,255,0.6);
}

.productCard img {
    width: 85%;
    border-radius: 15px;
    height: 60%;
}

.price {
    color: #1fbcff;
    margin-top: 5%;
}

.productCard button{
    width: 80%;
    padding: 10px 30px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid #1fbcff;
    font-weight: bold;
    box-shadow: 0 0 3px #1fbcff;
    background-color: #020025;
    color: white;
}

.productCard button:hover{
    border-color: #1fbcff;
    color: #1fbcff;
    box-shadow: 0px 0px 8px #1fbcff;
    border: 3px solid #1fbcff;
    cursor: pointer;
}

.betweenSections{
    width: 4%;
    margin-top: 3%;
}

.whyUs {
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.whyUs h2{
    width: 30%;
    text-align: center;
    margin-bottom: 3%;
    border-bottom: 1px solid #1fbcff;
    padding-bottom: 1%;
}

.whyGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    width: 100%;
}

.whyGrid img{
    border-radius: 150px;
    box-shadow: 0 0 10px #1fbcff;
}

.extraNavBar{
    width: 78%;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1%;
}

.extraNavBar img{
    width: 2%;
}

.extraNavBar img:nth-of-type(1){
    width: 4%;
    border-radius: 30px;
}

.extraNavBar img:nth-of-type(1):hover{
    box-shadow: 0 0 15px #1fbcff;
    cursor: pointer;
}

.extraNavBar a{
    color: #1fbcff;
}

.extraNavBar a:hover{
    text-shadow: 0 0 7px #1fbcff;
}

hr{
    border: 1px solid #1fbcff;
    width: 25%;
}
