*{
    color: white;
}

h1{
    text-align: center;
}

.cartContainer{
    width:65%;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.cartItem{
    display:flex;
    align-items:center;
    justify-content: space-around;
    gap:20px;
    border:1px solid #1fbcff;
    padding:15px;
    border-radius:20px;
    box-shadow: 0 0 10px rgba(31,188,255,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.cartItem:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(31,188,255,0.4);
}

.cartItem img{
    width:120px;
}

.cartItem button{
    width: 10%;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid #1fbcff;
    font-weight: bold;
    box-shadow: 0 0 3px #1fbcff;
    background-color: #020025;
    color: white;
}

.cartItem button:hover{
    border-color: #1fbcff;
    color: #1fbcff;
    box-shadow: 0px 0px 8px #1fbcff;
    border: 3px solid #1fbcff;
    cursor: pointer;
}

.checkoutBtn{
    display:block;
    width:200px;
    margin:40px auto;
    text-align:center;
    padding:15px;
    border:2px solid #1fbcff;
    border-radius:15px;
    color:white;
    text-decoration:none;
}

.checkoutBtn:hover{
    border-color: #1fbcff;
    color: #1fbcff;
    box-shadow: 0px 0px 8px #1fbcff;
    border: 3px solid #1fbcff;
    cursor: pointer;
}

.nameDiv{
    text-align: center;
    width: 25%;
}

.nameDiv h3{
    margin-top: 4%;
}

.quantityDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10%;
}

.priceDiv{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.totalDiv{
    text-align: center;
}

h4{
    margin-bottom: 0;
}

h3{
    margin-top: 8%;
}

h2{
    width: 100%;
    text-align: center;
    
}

hr{
    width: 70%;
    border: 1px solid #1fbcff;
    margin-top: 2%;
}


