.checkoutContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin: auto;
    padding: 40px;
    background: linear-gradient(160deg, #020025, #06006b);
    border-radius: 40px;
    box-shadow: 0 0 25px rgba(31,188,255,0.35);
    border: 1px solid rgba(31,188,255,0.6);
}


.checkoutContainer h1 {
    color: white;
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid #1fbcff;
    padding-bottom: 1%;
    width: 30%;
}

.checkoutForm {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.checkoutCard {
    border: 1px solid #1fbcff;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 0 8px rgba(31,188,255,0.3);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.checkoutCard h5{
    margin: auto;
    margin-bottom: 1%;
    width: 70%;
    text-align: left;
}

.checkoutCard h2 {
    margin-bottom: 3%;
    color: #1fbcff;
    border-bottom: 1px solid #1fbcff;
    padding-bottom: 1%;
    width: 40%;
    text-align: center;
}

.checkoutCard input {
    width: 70%;
    margin-bottom: 2%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: #020025;
    color: white;
    box-shadow: 0 0 4px #ffffff;
}

.paymentOption {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 2%;
    cursor: pointer;
    width: 40%;
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px #ffffff;
    padding: 1%;
    border-radius: 8px;
}

.paymentOption input {
    transform: scale(1.2);
    width: 10%;
    border: none;
    box-shadow: none;
}

.paymentOption:has(input:checked) {
    border-color: #1fbcff;
    box-shadow: 0 0 8px #1fbcff;
}

.confirmBtn {
    width: 40%;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    border: 3px solid #1fbcff;
    background-color: #020025;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 0 0 10px #1fbcff;
}

.confirmBtn:hover {
    cursor: pointer;
    color: #1fbcff;
    box-shadow: 0 0 18px #1fbcff;
}
